<h1> New page </h1>

<%= form_for @shop do |f| %>

<div>
<%= f.label :shop_name%>
<%= f.text_field :shop_name %>
</div>

<div>
<%= f.label :full_address %>
<%= f.text_field :full_address%>
</div>


<%= f.submit "New Shop" %>

<% end %>