
<nav class="grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <%= link_to "Shop Visitor", root_path, { :class=>"brand-logo" } %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Back to all shops", shops_path %> </li>
      <li><%= link_to "Edit #{@shop.shop_name}", edit_shops_path(@shop) %>
</li>
	   <li><%= link_to "Delete", shop_path(@shop), method: :delete, data: { confirm: 'Are you sure?' }
%></li>
      
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to "Back to all shops", shops_path %> </li>
      <li><%= link_to "Edit #{@shop.shop_name}", edit_shops_path(@shop) %>
</li>
	   <li><%= link_to "Delete", shop_path(@shop), method: :delete, data: { confirm: 'Are you sure?' }
%></li>
    </ul>
  </div>
</nav>

<div class="container">  <!-- for materialize -->
   <div class="col s12">  <!-- for materialize -->


<h1> <%= @shop.shop_name %> </h1>

<h3>Address</h3>

<h3> 
		<%= @shop.full_address %>
</h3>

<!-- Map info -->

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@shop.latitude}%2C#{@shop.longitude}" %>


<!-- end map info -->

</div>
</div>

